<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <ui:composition template="/WEB-INF/template.xhtml">
        
        <ui:define name="conteudo">
            Página Inicial
        </ui:define>
        
    </ui:composition>
    
</html>
