<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:form rendered="#{pessoaControle.pessoa!=null}">
        <p:panel id="painelForm" header="Formulario de cadastro">

            <p:selectOneRadio value="#{pessoaControle.tipoPessoa}">
                <f:selectItem itemValue="PF" itemLabel="Pessoa Fisica"/>
                <f:selectItem itemValue="PJ" itemLabel="Pessoa Juridica"/>
                <f:ajax event="change" 
                        listener="#{pessoaControle.criaPessoa()}"
                        render="painelForm"/>
            </p:selectOneRadio>

            <p:panelGrid layout="grid" columns="2">
                <p:outputLabel value="Nome:" for="nome"/>
                <p:inputText id="nome" value="#{pessoaControle.pessoa.nome}"
                             required="true"
                             requiredMessage="O campo nome é obrigatório"/>

                <p:outputLabel value="Fone:" for="fone"/>
                <p:inputText id="fone" value="#{pessoaControle.pessoa.fone}"/>

                <p:outputLabel value="Endereço:" for="end"/>
                <p:inputText id="end" value="#{pessoaControle.pessoa.endereco}"/>

                <p:outputLabel value="CPF:" for="cpf" 
                               rendered="#{pessoaControle.tipoPessoa=='PF'}"/>
                <p:inputMask mask="999.999.999-99"
                             id="cpf"
                             value="#{pessoaControle.pessoa.cpf}"
                             rendered="#{pessoaControle.tipoPessoa=='PF'}"/>

                <p:outputLabel value="RG:" for="rg"
                               rendered="#{pessoaControle.tipoPessoa=='PF'}"/>
                <p:inputText id="rg" rendered="#{pessoaControle.tipoPessoa=='PF'}"
                             value="#{pessoaControle.pessoa.rg}"/>

                <p:outputLabel value="CNPJ:" for="cnpj"
                               rendered="#{pessoaControle.tipoPessoa=='PJ'}"/>
                <p:inputMask id="cnpj" mask="99.999.999/9999-99"
                             value="#{pessoaControle.pessoa.cnpj}"
                             rendered="#{pessoaControle.tipoPessoa=='PJ'}"/>

                <p:outputLabel value="IE:" for="ie"
                               rendered="#{pessoaControle.tipoPessoa=='PJ'}"/>
                <p:inputText value="#{pessoaControle.pessoa.ie}"
                             id="ie"
                             rendered="#{pessoaControle.tipoPessoa=='PJ'}"/>
            </p:panelGrid>
            <f:facet name="footer">
                <p:commandButton value="Salvar"
                                 action="#{pessoaControle.salvar()}"
                                 ajax="false"/>
            </f:facet>
        </p:panel>
    </h:form>
</html>
