<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:form id="vform" rendered="#{vendaControle.venda!=null}">
        
        <p:panel header="Formulário de cadastro">
            
            <ui:include src="cabecalho.xhtml"/>
            <ui:include src="produtos.xhtml"/>
            
            <f:facet name="footer">
                <p:commandButton value="Salvar"
                                 action="#{vendaControle.salvar()}"
                                 ajax="false"/>
            </f:facet>
        </p:panel>
    
    </h:form>
    
</html>
