<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:form rendered="#{grupoControle.grupo!=null}">
        
        <p:panel header="Formulário de cadastro">
            <p:panelGrid columns="2" layout="grid">
                
                <p:outputLabel value="Nome:" for="nome"/>
                <p:inputText id="nome" 
                             value="#{grupoControle.grupo.nome}"/>
                
                <p:outputLabel value="Grupo pai:" for="grupoPai"/>
                <p:selectOneMenu id="grupoPai"
                                 value="#{grupoControle.grupo.grupoPai}"
                                 converter="#{grupoControle.converter()}">
                    
                    <f:selectItem itemLabel="Novo grupo pai"
                                  itemValue="null"/>
                    <f:selectItems value="#{grupoControle.listagem}"
                                   var="item"
                                   itemLabel="#{item.nome}"
                                   itemValue="#{item}"/>
                </p:selectOneMenu>
                
                <p:outputLabel value="Ativo:" for="ativo"/>
                <p:selectBooleanCheckbox 
                    id="ativo"
                    value="#{grupoControle.grupo.ativo}"/>
                
            </p:panelGrid>
            <f:facet name="footer">
                <p:commandButton value="Salvar"
                                 action="#{grupoControle.salvar()}"
                                 ajax="false"/>
            </f:facet>
        </p:panel>
    
    </h:form>
    
</html>
