<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:form rendered="#{produtoControle.produto!=null}">

        <p:panel header="Formulário de cadastro">
            <p:panelGrid columns="2" layout="grid">

                <p:outputLabel value="Nome:" for="nome"/>
                <p:inputText id="nome" 
                             value="#{produtoControle.produto.nome}"/>

                <p:outputLabel value="Código:" for="codigo"/>
                <p:inputText id="codigo" 
                             value="#{produtoControle.produto.codigo}"/>

                <p:outputLabel value="Preço:" for="preco"/>
                <p:inputText id="preco" 
                             value="#{produtoControle.produto.preco}">
                    <f:convertNumber minFractionDigits="2"
                                     maxFractionDigits="2"/>
                </p:inputText>
                
                <p:outputLabel value="Estoque:" for="estoque"/>
                <p:inputText id="estoque" 
                             value="#{produtoControle.produto.estoque}">
                    <f:convertNumber minFractionDigits="2"
                                     maxFractionDigits="2"/>
                </p:inputText>

                <p:outputLabel value="Grupo:" for="grupo"/>
                <p:selectOneMenu id="grupo"
                                 value="#{produtoControle.produto.grupo}"
                                 converter="#{grupoControle.converter()}">

                    <f:selectItem itemLabel="Selecione o grupo"
                                  itemValue="null"/>
                    <f:selectItems value="#{grupoControle.listagem}"
                                   var="item"
                                   itemLabel="#{item.nome}"
                                   itemValue="#{item}"/>
                </p:selectOneMenu>

                <p:outputLabel value="Ativo:" for="ativo"/>
                <p:selectBooleanCheckbox 
                    id="ativo"
                    value="#{produtoControle.produto.ativo}"/>

            </p:panelGrid>
            <f:facet name="footer">
                <p:commandButton value="Salvar"
                                 action="#{produtoControle.salvar()}"
                                 ajax="false"/>
            </f:facet>
        </p:panel>

    </h:form>

</html>
