<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>VENDAS UNIPAR</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            *{
                font-size: 12px;
            }
        </style>
    </h:head>
    <h:body>
        <p:messages/>
        <h:form>
            <p:menubar>
                <p:submenu label="Cadastros">
                    <p:menuitem value="Pessoa" url="/app/pessoa/list.xhtml"/>
                    <p:menuitem value="Grupo" url="/app/grupo/list.xhtml"/>
                    <p:menuitem value="Produto" url="/app/produto/list.xhtml"/>
                    <p:menuitem value="Usuário" url="/app/usuario/list.xhtml"/>
                </p:submenu>
                <p:submenu label="Movimentos">
                    <p:menuitem value="Venda" url="/app/venda/list.xhtml"/>
                </p:submenu>
                <p:submenu label="Relatórios">
                    <p:submenu label="Cadastrais">
                        <p:menuitem value="Produto" action="#{relatorioControle.relatorioCadastralProduto()}" ajax="false"/>
                    </p:submenu>
                    <p:submenu label="Gerenciais">
                        <p:menuitem value="Venda por periodo" url="/app/relatorioVenda/form.xhtml"/>
                    </p:submenu>
                </p:submenu>
                <p:submenu label="Configurações">
                    <p:menuitem value="Cadastro de empresa" url="/app/empresa/list.xhtml"/>
                </p:submenu>
                <p:menuitem value="Sair" action="#{loginControle.logoff()}" ajax="false"/>
            </p:menubar>
        </h:form>
        <p:panel>
        <ui:insert name="conteudo"/>
        <f:facet name="footer">
            <h:outputText value="Usuario: #{loginControle.usuario}"/>
        </f:facet>
        </p:panel>

        <h:form>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
        </h:form>

    </h:body>
</html>
